# Example env for sar_grafana docker compose
GRAFANA_BIND=0.0.0.0:3000
INFLUX_BIND=0.0.0.0:8086
GRAFANA_USER=admin
GRAFANA_PASSWORD=saradmin123
INFLUX_PASSWORD=saradmin123
INFLUX_TOKEN=sar-admin-token-change-me
